.Main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: monospace, sans-serif;
    margin-top: 100px;
}

#searchbar {
    font-family: monospace;
    width: 400px;
    height: 30px;
    border:none;
    border: 1px solid rgb(185, 184, 184);
    border-radius: 5px;
}

#searchbar:focus {
    outline:none;
}

#button {
    font-family: monospace;
    color: white;
    cursor: pointer;
    background-color: rgb(114, 114, 184);
    height: 35px;
    width: 70px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;

}

#headshot {

    width: 200px;
    object-fit: cover;
    background-color: aqua;
}

.Search-item {  
    height: 20px;
}

.Search-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
    height: 40px;   
}
.Search-item-container:hover {
    background-color: rgb(244, 244, 244);
}
#Search-container {
    margin-bottom:1px;
   display: none;
    overflow-y: auto;
    border: 1px solid rgb(186, 186, 186);
    border-top-style: none;
    max-height: 300px;
    width: 400px;
   
}

.headshot {
    height: 40px;
    width: 10%;

    object-fit: contain;
}

.borderBottomDisplay {
    display: block;
}

